<%= form_for(@hypothetical) do |f| %>
  <% if @hypothetical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hypothetical.errors.count, "error") %> prohibited this hypothetical from being saved:</h2>
      <ul>
      <% @hypothetical.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="elements">
        <p id="element1">
          <%= f.text_area :hypo1 %>
        </p>
      </div>
      <div class="elements">
        <p id="element2">
          <span>OR</span>
        </p>
      </div>
      <div class="elements">
        <p id="element3">
          <%= f.text_area :hypo2 %>
        </p>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
